<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title> Inserimento chef </title>
</head>

<body>
<form th:action = "@{/admin/chef}" method = "post" th:object = "${chef}">

	<div th:if="${#fields.hasGlobalErrors()}">
		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ERRORE</p>
	</div>
	  
	<div> Nome: <input type="text" th:field="*{nome}" /> </div>
	<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
	
	<div> Cognome: <input type="text" th:field="*{cognome}" /> </div>
	<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
	
	<div> Nazionalità: <input type="text" th:field="*{nazionalita}" /> </div>
	<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
	
	
	<div> <button type="submit"> Conferma </button> </div>
</form>	
</body>


</html>