<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title> Dettagli buffet </title>
</head>

<body class="body_index_pagina">

	
		<div class="nome_index_pagina">
			<h1>ROMA<span>3</span> CATERING</h1>
		</div>
		
		<div class="container_dettagli">
		
			<img class="foto_dettagli" th:src="@{${buffet.photosImagePath}}" />
			<div class="container_desc b">
				<span th:text = "${buffet.nome}"> NOME </span>
				<br>
				<span th:text = "${buffet.descrizione}"> DESCRIZIONE </span>
				<br>
				<br>
				<div th:text="'Questo buffet è di ' + *{chef.nome} + ' ' + *{chef.cognome}"> mi ritorna il nome dello chef </div>
				
			</div>
			<br>			
			<br>
			
			
		</div>
	
	
	
	
	<footer  class="footer_login">
        <a href="/default"><img id="img_login" src="/images/home2.png" alt=""> Home</a>
    </footer>
</body>
</html>