<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	
	<title>Elenco chef</title>
</head>

<body>



<body class="body_index_pagina">

	<div class="nome_index_pagina">
		<h1>ROMA<span>3</span> CATERING</h1>
	</div>
	
	
	<div id="container_home">
	
	<h2>Perchè scegliere il nostro Catering?</h2>
            
            Ti offriamo un servizio di catering organizzato ed efficiente 
            per ogni tuo desiderio o necessità. La Roma3 Catering sa come 
            avverare ogni tuo sogno o fantasia, portandoti odori e sapori 
            dell’antica tradizione romana, offrendoti un prodotto altamente 
            personalizzato. 
        
        <h3>Dai un'occhiata ai nostri migliori! </h3> 
	
	</div>
	

	<div id="headerfoto">
		<h2>GLI CHEF</h2>
	</div>


	<div class="testo_pagina">
		<h1>Tradizione e cultura nelle mani sapienti dei nostri Chef</h1>
		<p> 
			Una pasta artigianale dal sapore antico, trasformata in tante 
			ricette insuperabili dagli chef più esperti e talentuosi del nostro 
			territorio, alla costante ricerca di combinazioni originali e allo stesso 
			tempo legati alle tradizioni e agli ingredienti della cucina nostrana.
		</p>
	</div>







	
		<div th:if="${role}=='ADMIN'">
		
			<div>
				<a th:href="@{/admin/chefForm}"> Inserisci Chef </a>
			</div>	
			
			
			
			
			
			<ul id="elenco">
			
				<li th:each="chef : ${elencoChef}">
				
					<div class="container_chef">
						<img class="foto_chef" th:src="@{${chef.photosImagePath}}"/>
						
						<span th:text="'Nome: ' + ${chef.nome}"> NOME </span>
						<span th:text="'Cognome: ' + ${chef.cognome}"> COGNOME </span>
						<span th:text="'Nazionalità: ' + ${chef.nazionalita}"> NAZIONALITA </span>
						
						<br>
						<br>
						<a href ="chef.html" th:href="@{'/admin/toDeleteChef' + '/' + ${chef.id}}"
						th:text="Cancella">cancella</a>
						<br>
						<a th:href="@{'/admin/chef' + '/' + ${chef.id} + '/buffetForm'}"> Inserisci Buffet </a>
						<br>
						<a th:href="@{'/chef' + '/' + ${chef.id} + '/elencoBuffet'}"> Visualizza Buffet </a>
					
					
					</div>
				</li> 
			</ul>
				
			
		</div>
			
			
			
		<div th:unless="${role}=='ADMIN'">
				
				<ul id="elenco">
					
					<li th:each="chef : ${elencoChef}">
			
					<div class="container_chef">
			
						<img class="foto_chef" th:src="@{${chef.photosImagePath}}"/>
				
						<span th:text="'Nome: ' + ${chef.nome}"> NOME </span>
						<span th:text="'Cognome: ' + ${chef.cognome}"> COGNOME </span>
						<span th:text="'Nazionalità: ' + ${chef.nazionalita}"> NAZIONALITA </span>
						<br>
						<br>
					
						<a th:href="@{'/chef' + '/' + ${chef.id} + '/elencoBuffet'}"> Visualizza Buffet </a>
					</div>
					</li>
				</ul>
		</div>
			
			
	
		
	<footer  class="footer_login">
        <a href="/default"><img id="img_login" src="images/home2.png" alt=""> Home</a>
    </footer>
    
    <div>
		<a class="a_index" th:href="@{/logout}">Logout</a>
	</div>
</body>
</html>