<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
			<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>Elenco buffet</title>
</head>

<body class="body_index_pagina">

    <div class="nome_index_pagina">
		<h1>ROMA<span>3</span> CATERING</h1>
	</div>

    <div id="headerfoto_buffet">
		<h2>I BUFFET</h2>
	</div>


    <div class="testo_pagina">
		<h1>Buffet come non li avete mai visti</h1>
		<p> 
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, 
            nesciunt hic doloremque dicta quaerat voluptas, soluta laboriosam aut quis 
            alias labore autem rerum vel assumenda inventore, pariatur itaque odio 
            voluptatibus!
		</p>
	</div>

	<div>
		
		<ul>
		
			<li id="griglia" th:each="buffet : ${elencoBuffet}">
			
			<img th:src="@{${buffet.photosImagePath}}" width="80" height="80" />
			
			
			<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}" 
			th:text="${buffet.nome}">NOME</a>	
			</li> 
			
			
		</ul>
	</div>


	
	<footer class="footer_login">
        <a href="/default"><img id="img_login" src="/images/home2.png" alt=""> Home</a>
    </footer>
</body>
</html>