<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Roma3 Catering: Gli chef</title>
</head>

<body  class="body_index_pagina">
    

    <div class="nome_index_pagina">
        <h1>ROMA<span>3</span> CATERING</h1>
    </div>


	<div id="headerfoto">
		<h2>GLI CHEF</h2>
	</div>

    
	<div class="testo_pagina">
		<h1>TRADIZIONE E CULTURA NELLE MANI SAPIENTI DEI NOSTRI CHEF</h1>
		<p> 
			Una pasta artigianale dal sapore antico, trasformata in tante 
			ricette insuperabili dagli chef più esperti e talentuosi del nostro 
			territorio, alla costante ricerca di combinazioni originali e allo stesso 
			tempo legati alle tradizioni e agli ingredienti della cucina nostrana.
		</p>
	</div>



    <!-------------ADMIN-------------->
<div th:if="${role}=='ADMIN'">



    <div id="bottone">
	   	<a th:href="@{/admin/chefForm}">
		<button type="button" class="btn btn-outline-danger"> 
		Inserisci Chef </button></a>
	</div>
	
	
	



    <ul id="elenco">
			
        <li th:each="chef : ${elencoChef}">


            <div class="container_chef">


                    <div class="card" style="width: 18rem;">
                        <img th:src="@{${chef.photosImagePath}}" class="card-img-top" alt="" />
                        <div class="card-body">
                        <h5 class="card-title">Chef</h5>
                        <span th:text="'Nome: ' + ${chef.nome}"> NOME </span>
                        <br>
                        <span th:text="'Cognome: ' + ${chef.cognome}"> COGNOME </span>
                        <br>
                        <span th:text="'Nazionalità: ' + ${chef.nazionalita}"> NAZIONALITA </span>        
                        </div>



                        <ul class="list-group list-group-flush">
                            
     
	
					<li class="list-group-item">
						<!-- Button trigger modal -->
						                            
						<button type="button" class="btn btn-danger" th:attr="data-bs-target='#exampleModal' + ${chef.id}" 
						data-bs-toggle="modal"> 
						<p class="card-text">Cancella</p></button>
						
						<!-- Modal -->
						<div class="modal fade" th:id="'exampleModal' + ${chef.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Cancellazione</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						        Confermare la cancellazione?
						        <br>
						        <span th:text = "${chef.nome}"> NOME </span>
						        <br>
								<span th:text = "${chef.cognome}"> COGNOME </span>
								<br>
								<span th:text = "${chef.nazionalita}"> NAZIONALITA </span>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
							        <a href="chef.html" th:href="@{'/admin/deleteChef' + '/' + ${chef.id}}">
							        <button type="button" class="btn btn-danger"> Conferma </button> </a>
							        
							        
							        
						      </div>
						    </div>
						  </div>
						</div>
					</li>


                            <li class="list-group-item">
                                <a th:href="@{'/admin/toModificaChef' + '/' + ${chef.id}}">
								<button type="button" class="btn btn-danger"> 
								<p class="card-text">Modifica</p></button></a>
                            </li>
                        
                            <li class="list-group-item">
                                <a th:href="@{'/admin/chef' + '/' + ${chef.id} + '/buffetForm'}">
                                <button type="button" class="btn btn-danger"> 
                                <p class="card-text">Inserisci Buffet</p></button></a>
                            </li>
                            
                            <li class="list-group-item">
                                <a th:href="@{'/chef' + '/' + ${chef.id} + '/elencoBuffet'}">
                                <button type="button" class="btn btn-danger"> 
                                <p class="card-text">Visualizza Buffet</p></button></a>
                            </li>

                        </ul>
                        

                    </div>
                </div>
        </li> 
    </ul>

</div>


    <!-------------UTENTE-------------->

<div th:unless="${role}=='ADMIN'">

 
    <ul id="elenco">
			
        <li th:each="chef : ${elencoChef}">


            <div class="container_chef">


                    <div class="card" style="width: 18rem;">
                        <img th:src="@{${chef.photosImagePath}}" class="card-img-top" alt="" />
                        <div class="card-body">
	                        <h5 class="card-title">Chef</h5>
	                        <span th:text="'Nome: ' + ${chef.nome}"> NOME </span>
	                        <br>
	                        <span th:text="'Cognome: ' + ${chef.cognome}"> COGNOME </span>
	                        <br>
	                        <span th:text="'Nazionalità: ' + ${chef.nazionalita}"> NAZIONALITA </span>        
                        </div>



                        <ul class="list-group list-group-flush">
       
                            <li class="list-group-item">
	                            <a th:href="@{'/chef' + '/' + ${chef.id} + '/elencoBuffet'}">
								<button type="button" class="btn btn-outline-danger"> 
								Visualizza Buffet </button></a>
 							</li>
 							
                        </ul>
                        
					</div>
                    
                </div>
        </li> 
    </ul>

</div>

   

    <footer class="home_logout">
        
        <a th:href="@{/logout}">
            <button type="button" class="btn btn-outline-danger"> 
            Logout </button></a>

        <a href="/default"><img id="img_login" src="/images/home2.png" alt=""></a>
        
    </footer>



<!-- <script src="script.js"> </script> -->

<!--BOOTSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>