<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	
	<title>Elenco buffet</title>
</head>

<body>
	<div>
		<h4>Elenco piatti:</h4>
		<ul>
			<li th:each="piatto : ${elencoPiatti}">
			
			<a href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}" 
			th:text="${piatto.nome}">NOME</a>
			<span> --- </span>
			<a href ="buffet.html" th:href="@{'/toDeletePiatto' + '/' + ${piatto.id}}"
			th:text="cancella">cancella piatto</a>
			<span> --- </span>
			<a th:href="@{'/piatto' + '/' + ${piatto.id} + '/elencoIngredienti'}"> Visualizza ingredienti </a>
			<span> --- </span>
			<a th:href="@{'/piatto' + '/' + ${piatto.id} + '/ingredienteForm'}"> Inserisci ingrediente </a> 
			 
			
			</li> 
			
		</ul>
	</div>
		
	<footer>
		<a href="/default">Home</a>
	</footer>
</body>
</html>