<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
	
	<title>Elenco buffet</title>
</head>

<body class="body_index_pagina">

	<div class="nome_index_pagina">
		<h1>ROMA<span>3</span> CATERING</h1>
	</div>	
	
	
	<div id="headerfoto_buffet">
		<h2>I BUFFET</h2>
	</div>
	
	
	<div class="testo_pagina">
		<h1>Buffet come non li avete mai visti</h1>
		<p> 
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, 
            nesciunt hic doloremque dicta quaerat voluptas, soluta laboriosam aut quis 
            alias labore autem rerum vel assumenda inventore, pariatur itaque odio 
            voluptatibus!
		</p>
	</div>
	
	
	<div>
		<div th:if="${role}=='ADMIN'">
				
		
		<ul>
		
			<li id="griglia" th:each="buffet : ${elencoBuffet}">
			
				<img th:src="@{${buffet.photosImagePath}}" />
			
			
				<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}" 
				th:text="${buffet.nome}">NOME</a>
				
				<a href ="buffet.html" th:href="@{'/admin/toDeleteBuffet' + '/' + ${buffet.id}}"
				th:text="Cancella">cancella</a>
				
				<a th:href="@{'/admin/buffet' + '/' + ${buffet.id} + '/piattoForm'}"> Inserisci piatto </a> 
				
				<a th:href="@{'/buffet' + '/' + ${buffet.id} + '/elencoPiatti'}"> Visualizza piatti </a>
		
			
			</li> 
		</ul>
		</div>
		
		
		<div th:unless="${role}=='ADMIN'">
		<ul>
		
			<li  id="griglia" th:each="buffet : ${elencoBuffet}">
				
				<img th:src="@{${buffet.photosImagePath}}" />
			
				<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}" 
				th:text="${buffet.nome}">NOME</a>
			
				<a th:href="@{'/buffet' + '/' + ${buffet.id} + '/elencoPiatti'}"> Visualizza piatti </a>
		
			</li> 
		</ul>
		</div>
			
			
		
	</div>
		
	<footer class="footer_login">
        <a href="/default"><img id="img_login" src="/images/home2.png" alt=""> Home</a>
    </footer>
    
    <div>
		<a class="a_index" th:href="@{/logout}">Logout</a>
	</div>
</body>
</html>