<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	
	<title> Catering: benvenuti! </title>
</head>

<body class="body_index_login">

    <div class="nome_index_login">
        <h1>ROMA3 CATERING</h1>
    </div>

    <div id="container_index">
        
		<div id="accedi">
			<a class="a_index" th:href="@{/login}">Accedi</a>
   		</div>
		<div id="registrati">
			<a class="a_index" th:href="@{/register}">Registrati</a>
   		</div>
   		
 
    </div>
</body>
</html>