<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title> Inserimento ingrediente </title>
</head>

<body>


<form th:action = "@{/admin/ingrediente}" method = "post" th:object = "${ingrediente}">


        <div th:if="${#fields.hasGlobalErrors()}">
		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ERRORE</p>
	</div>
	  
	<div> Nome: <input type="text" th:field="*{nome}" /> </div>
	<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
	
	<div> Descrizione: <input type="text" th:field="*{descrizione}" /> </div>
	<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
	
	<div> Origine: <input type="text" th:field="*{origine}" /> </div>
	<div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
		
	
	
	<input type="hidden" name="idPiatto" th:value=*{piatto.id}>
	
	<div> <button type="submit"> Conferma </button> </div>
</form>	
</body>


</html>