<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	
	<title> LoginForm </title>
</head>
<body class="body_index_login">
    <div class="nome_index_login">
        <h1>ROMA<span>3</span> CATERING</h1>
    </div>

	<form th:action="@{/login}" method="POST">
		<div class="container_login">
			<div class="nomi_placeholder">
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div class="nomi_placeholder">
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button class="login" type="submit">Login</button></span>
			</div>
		</div>
	</form>

    <footer class="footer_login">
    	<a href="/"><img id="img_login" src="images/home.png" alt=""> Home</a>
    </footer>
    
  
</body>
</html>