<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title> Inserimento piatto </title>
</head>

<body>
<form th:action="@{/admin/piatto}" method="post" th:object="${piatto}">

	<div th:if="${#fields.hasGlobalErrors()}">
		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ERRORE</p>
	</div>
	  
	<div> Nome: <input type="text" th:field="*{nome}" /> </div>
	<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
	
	<div> Descrizione: <input type="text" th:field="*{descrizione}" /> </div>
	<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
	
	
	<div th:text=*{buffet.nome}> mi ritorna il nome del buffet </div>
	
	
	
	<div>
		<input type="hidden" name="idBuffet" th:value=*{buffet.id}>
		<button type="submit"> Conferma </button> 
	</div>
</form>	
</body>


</html>