* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:link { 
    color: red;
    text-decoration: none;
}


a:visited { 
    color: red;
    text-decoration: none;
}

a:visited:hover { 
    color: white;
    text-decoration: none;
}


td {
    padding-left: 5px;
}

ul {
	list-style-type: none;
}



/**************/
/****INDEX*****/
/**************/

.body_index_login { 
    background-image: url(/images/cateringfoto5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.nome_index_login { 
    font-size: 70px;
    text-align: center;
    margin-top: 130px;
    color: aliceblue;
    box-shadow: 12px 12px 32px black;
    margin-bottom: 30px;
}

.nome_index_login span {
    color: rgb(151, 48, 48);
}

#container_index {
    /*border: 2px solid blue;*/

    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 40px;

    display: flex;
    justify-content: center;

    text-align: center;
}


.a_index {
    /*border: 2px solid blue;*/
    font-size: 20px;
    cursor: pointer;

    background-color: aliceblue;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.a_index:hover {
    background-color: rgb(151, 48, 48) ;
    color: aliceblue;
    font-size: 22px;
    box-shadow: 3px 3px 5px black;
}

#accedi {
    margin-bottom: 40px;
    padding: 10px;
}

#registrati {
    padding: 10px;
}







/**************/
/****LOGIN*****/
/**************/


.login {
    /*border: 2px solid blue;*/
    font-size: 20px;
    cursor: pointer;

    background-color: aliceblue;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
   
}

.login:hover {
    background-color: rgb(151, 48, 48);
    color: aliceblue;
    box-shadow: 3px 3px 5px black;
}


.container_login {
     /*border: 2px solid blue;*/
 
     
     width: 40%;
     height: 200px;
     background-color: aliceblue;
     margin: auto;
     border-radius: 10px;
 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
     text-align: center;
 }


 #img_login {
    width: 30px;
    height: 30px;
}

.nomi_placeholder {
    /*border: 2px solid blue;*/
    font-size: 20px;
    margin-bottom: 15px;
}

footer a {
	color: orange;
}

.footer_login {
    padding: 40px;
    font-size: 15px;
}







/**********************/
/*****HOME_DEFAULT*****/
/**********************/


#container_home h2 {
    color: rgb(151, 48, 48);
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

}


#container_home h3 {
    /*border: 2px solid red;*/

    margin-top: 45px;
    font-size: 30px;
    margin-bottom: 50px;

}

#img_home {
    /*border: 2px solid red;*/

    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: -5px;
}





/*****************************/
/***REGISTRATION_SUCCESSFUL***/
/*****************************/

#home_rs {
    /*border: 2px solid red;*/
    margin-top: 30px;
}




/*********************/
/*****ELENCO_CHEF*****/
/*********************/

.body_index_pagina {
    background-color: rgb(34, 42, 45);
}

.nome_index_pagina { 
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    color: aliceblue;
    box-shadow: 12px 12px 32px black;
    margin-bottom: 30px;
}

.nome_index_pagina span {
    color: rgb(151, 48, 48);
}

#headerfoto {
    margin-top: 60px;
    height: 500px;
    background-image: url(/images/headerchef.jpg);
    background-size: cover;
}

#headerfoto h2 {
    /*border: 2px solid yellow;*/

    font-size: 50px;
    color: aliceblue;
    padding: 80px 0px 0px 80px;
}

.testo_pagina h1 {
    /*border: 2px solid green;*/
    font-size: 40px;
    color:  rgb(151, 48, 48);
    width: 60%;
    margin: auto;
    margin-top: 60px;

}

.testo_pagina p {
    /*border: 2px solid yellow;*/
    color: aliceblue;
    font-size: 18px;
    width: 60%;
    margin: auto;
    margin-top: 10px;

}


#elenco {
    /*border: 2px solid red;*/
    
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}


.container_chef {
    /*border: 2px solid green;*/

    display: flex;
    flex-direction: column;
    padding: 20px;
  
    font-size: 17px;
    margin: 20px 20px 50px -10px;

}

.container_chef a:hover {
    color: rgb(151, 48, 48);
}

.card-img-top {
    height: 280px;
}






/***********************/
/*****CHEF_DETTAGLI*****/
/***********************/

.container_dettagli {
    /*border: 2px solid green;*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_dettagli a {
	color: aliceblue;
}

.container_dettagli a:hover {
	color: rgb(151, 48, 48);
}

.foto_dettagli {
    width: 350px;
    height: 350px;
    
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
    margin: 40px 0px 10px 0px;
}

.container_desc {
    /*border: 2px solid red;*/
    width: 350px;
    margin: auto;

    font-size: 25px;
    color: aliceblue;
    text-align: left;
    padding: 10px;

}







/***********************/
/*****ELENCO_BUFFET*****/
/***********************/
#headerfoto_buffet {
    margin-top: 60px;
    height: 500px;
    background-image: url(/images/buffet.jpg);
    background-size: cover;
}

#headerfoto_buffet h2 {
    /*border: 2px solid yellow;*/

    font-size: 50px;
    color: aliceblue;
    padding: 80px 0px 0px 80px;
}

#griglia {
    /*border: 2px solid yellow;*/

    display: flex;
    justify-content: center;
    margin: 80px 0px 80px 0px;
}


#griglia a {
    /*border: 2px solid blue;*/

    margin-left: 50px ;
    color: aliceblue;
    align-self: center;
    font-size: 20px;
}


#griglia a:hover {
    color: rgb(151, 48, 48);
}


#griglia img {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
    
}







/*************************/
/*****BUFFET_DETTAGLI*****/
/*************************/

.container_desc.b {
    text-align: center;
}


#desc {
	font-size: 14px;
}






/***********************/
/*****ELENCO_PIATTI*****/
/***********************/

#headerfoto_piatto {
    margin-top: 60px;
    height: 500px;
    background-image: url(/images/piatto.jpg);
    background-size: cover;
}

#headerfoto_piatto h2 {
    /*border: 2px solid yellow;*/

    font-size: 50px;
    color: aliceblue;
    padding: 80px 0px 0px 80px;
}






/****************************************/
/******************BOOTSTRAP*************/
/****************************************/





/**************/
/*****HOME*****/
/**************/

#container_home {
    /*border: 2px solid blue;*/
    
    color: aliceblue;
    width: 50%;
    margin: auto;

    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 30px 0px 30px;
    margin-top: 40px;
    
}


.carousel-item {
    /*border: 2px solid red;*/
    width: 100%;
    height: 400px;
}

#bottone {
    /*border: 2px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
