* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:link { 
    color: red;
    text-decoration: none;
}


a:visited { 
    color: red;
    text-decoration: none;
}

a:visited:hover { 
    color: white;
    text-decoration: none;
}


td {
    padding-left: 5px;
}

ul {
	list-style-type: none;
}



/**************/
/****INDEX*****/
/**************/

.body_index_login { 
    background-image: url(/images/cateringfoto5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.nome_index_login { 
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
    box-shadow: 12px 12px 32px black;
    margin-bottom: 30px;
}

.nome_index_login h1 { 
    font-size: 100px;
}

.nome_index_login span { 
   color: rgb(151, 48, 48);
}



#container_index {
    /*border: 2px solid blue;*/

    width: 20%;
    margin: auto;
    margin-top: 40px;

    display: flex;
    justify-content: space-around;
    
    text-align: center;
    padding: 30px;
}


.btn.btn-outline-danger.index {
    font-size: 22px;
}








/**************/
/****LOGIN*****/
/**************/


.login {
    /*border: 2px solid blue;*/
    font-size: 20px;
    cursor: pointer;

    background-color: aliceblue;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
   
}

.login:hover {
    background-color: rgb(151, 48, 48);
    color: aliceblue;
    box-shadow: 3px 3px 5px black;
}


.container_login {
     /*border: 2px solid blue;*/
 
     
     width: 40%;
     height: 200px;
     background-color: aliceblue;
     margin: auto;
     border-radius: 10px;
 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
     text-align: center;
 }


 #img_login {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.nomi_placeholder {
    /*border: 2px solid blue;*/
    font-size: 20px;
    margin-bottom: 15px;
}


.footer_login {
    padding: 40px;
    font-size: 15px;
}







/**********************/
/*****HOME_DEFAULT*****/
/**********************/


#container_home h2 {
    color: rgb(151, 48, 48);
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

}


#container_home h3 {
    /*border: 2px solid red;*/

    margin-top: 45px;
    font-size: 30px;
    margin-bottom: 50px;

}

#img_home {
    /*border: 2px solid red;*/

    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: -5px;
}





/*****************************/
/***REGISTRATION_SUCCESSFUL***/
/*****************************/

#home_rs {
   /*border: 2px solid red;*/
   text-align: center;
   margin-top: 30px;
}



/*********************/
/*****ELENCO_CHEF*****/
/*********************/

.body_index_pagina {
    background-color: rgb(34, 42, 45);
}

.nome_index_pagina { 
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    color: aliceblue;
    box-shadow: 12px 12px 32px black;
    margin-bottom: 30px;
}

.nome_index_pagina span {
    color: rgb(151, 48, 48);
}

#headerfoto {
    margin-top: 60px;
    height: 500px;
    background-image: url(/images/headerchef.jpg);
    background-size: cover;
}

#headerfoto h2 {
    /*border: 2px solid yellow;*/

    font-size: 50px;
    color: aliceblue;
    padding: 80px 0px 0px 80px;
}

.testo_pagina h1 {
    /*border: 2px solid green;*/
    font-size: 40px;
    color:  rgb(151, 48, 48);
    width: 60%;
    margin: auto;
    margin-top: 60px;

}

.testo_pagina p {
    /*border: 2px solid yellow;*/
    color: aliceblue;
    font-size: 18px;
    width: 60%;
    margin: auto;
    margin-top: 10px;

}


#elenco {
    /*border: 2px solid red;*/
    
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}


.container_chef {
    /*border: 2px solid green;*/

    display: flex;
    flex-direction: column;
    padding: 20px;
  
    font-size: 17px;
    margin: 20px 20px 50px -10px;

}

.container_chef a:hover {
    color: rgb(151, 48, 48);
}

.card-img-top {
    height: 280px;
}






/***********************/
/*****CHEF_DETTAGLI*****/
/***********************/

.container_dettagli {
    /*border: 2px solid green;*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_dettagli a {
	color: aliceblue;
}

.container_dettagli a:hover {
	color: rgb(151, 48, 48);
}

.foto_dettagli {
    width: 350px;
    height: 350px;
    
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
    margin: 40px 0px 10px 0px;
}

.container_desc {
    /*border: 2px solid red;*/
    width: 350px;
    margin: auto;

    font-size: 25px;
    color: aliceblue;
    text-align: left;
    padding: 10px;

}







/***********************/
/*****ELENCO_BUFFET*****/
/***********************/
#headerfoto_buffet {
    margin-top: 60px;
    height: 500px;
    background-image: url(/images/buffet.jpg);
    background-size: cover;
}

#headerfoto_buffet h2 {
    /*border: 2px solid yellow;*/

    font-size: 50px;
    color: aliceblue;
    padding: 80px 0px 0px 80px;
}

.griglia {
    /*border: 2px solid green;*/

    display: flex;
    justify-content: center;
    margin: 80px 0px 80px 0px;
}


.griglia a {
    /*border: 2px solid blue;*/

    color: aliceblue;
    align-self: center;
}


.griglia a:hover {
    color: rgb(151, 48, 48);
}



.griglia img {
    border-radius: 20px;
}

.btn.btn-outline-danger {   
    margin:3px;
}

.card-title {
	font-size: 30px;
}




/*************************/
/*****BUFFET_DETTAGLI*****/
/*************************/

.container_desc.b {
    text-align: center;
}


#desc {
	font-size: 14px;
}






/***********************/
/*****ELENCO_PIATTI*****/
/***********************/

#headerfoto_piatto {
    margin-top: 60px;
    height: 500px;
    background-image: url(/images/piatto.jpg);
    background-size: cover;
}

#headerfoto_piatto h2 {
    /*border: 2px solid yellow;*/

    font-size: 50px;
    color: aliceblue;
    padding: 80px 0px 0px 80px;
}






/****************************************/
/******************BOOTSTRAP*************/
/****************************************/


/***********************/
/*****ELENCO_PIATTI*****/
/***********************/

.container {
    /*border: 2px solid yellow;*/

    color: aliceblue;
    margin: 80px 0px 80px 0px;
    align-self: center;
   
}

.row.row-cols-1.row-cols-sm-2.row-cols-md-4 {
    /*border: 2px solid blue;*/

    align-self: center;
    width: 80%;
    margin: auto;
 
}

.col {
    /*border: 2px solid red;*/

    text-align: center;
    margin: auto;
    padding: 20px;
    color: aliceblue;

}



.btn.btn-outline-danger.piatto {
    /*border: 2px solid yellow;*/
}




/**************/
/*****HOME*****/
/**************/

#container_home {
    /*border: 2px solid blue;*/
    
    color: aliceblue;
    width: 50%;
    margin: auto;

    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 30px 0px 30px;
    margin-top: 40px;
    
}


.carousel-item {
    /*border: 2px solid red;*/
    width: 100%;
    height: 400px;
}

#bottone {
    /*border: 2px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}








/**************/
/*****FORM*****/
/**************/

.richiesta {
    color: aliceblue;
    text-align: center;
    margin-top: 70px;
}


.container_form {
    /*border: 2px solid red;*/

    width: 40%;
    margin: auto;
    margin-top: 35px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-label {
    color: aliceblue;
}

.btn.btn-outline-danger.form {
    /*border: 2px solid yellow;*/
    width: 140px;
    margin: auto;
    margin-top: 20px;

}




/*********************/
/*****FORM BUFFET*****/
/*********************/

.container_form.buffet {
    /*border: 2px solid red;*/
}


.informazioni {
    /*border: 2px solid yellow;*/
    color: aliceblue;
    margin: auto;
    width: 60%;
    margin-top: 40px;
    text-align: center;
}



/*********************/
/*****HOME LOGOUT*****/
/*********************/

.home_logout {
    /*border: 2px solid yellow;*/
    margin: 40px 0px 40px 40px;

}

.container_form.buffet.log {
    /*border: 2px solid yellow;*/
    background-color: rgb(34, 42, 45, 0.8);
    border-radius: 30px;
    margin-top: 20px;
}

.btn.btn-outline-danger.form.log {
    color: aliceblue;
    border: 2px solid aliceblue;
}

.btn.btn-outline-danger.form.log:hover {
    border: 2px solid red;
}

.container_form.buffet.log h1 {
    color: aliceblue;
    text-align: center;
}